<div className="container">
  <main>
    <p>
      A Software Developer with too many ideas for the amount of fingers he has.
    </p>

    <%= react_component("Welcome", { text: "JACOB BENAIM" }) %>

    <!-- <i><%= fa_icon "camera-retro", text: "Take a photo" %></i> -->
  </main>
</div>
