<div class="container-fluid hero">
  <main>
    <div class="container">
      <div class="col-lg-4">
        <p class="about-me-link">
          <%= link_to 'ABOUT ME', about_mes_path %>
        </p>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <%= react_component("Welcome", { text: "JACOB BENAIM" }) %>
    <p class="brand-statement">
      A Software Developer with too many ideas for the amount of fingers he has.
    </p>
  </main>
</div>
