<div class="about-me-page">
  <p id="notice"><%= notice %></p>

  <h1>About Me's</h1>

  <%= react_component("Skills") %>
  <br />
  <span class="home-button">
    <%= link_to 'Home', welcome_index_path %>
  </span>
  <br />
  <%= react_component("AboutMe") %>
</div>
