<div class="about-me-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 about-me-nav">
        <ul>
          <li>
            <p class="home-button">
              <%= link_to 'Home', welcome_index_path %>
            </p>
          </li>
          <li>
            <p>
              <%= react_component("AboutMeButton") %>
            </p>
          </li>
          <li>
            <p></p>
          </li>
        </ul>

        <br />
      </div>
      <div class="col-lg-4">
        <h1>About Me</h1>
      </div>
      <div class="col-lg-4">
        <%= react_component("Skills") %>
      </div>
    </div>
  </div>
  <br />

  <br />
  <br />
</div>
