// Place all the styles related to the AboutMes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-me-posts {
  height: 500px;
  width: 100%;
  border: 2px outset gray;
  border-radius: 5px;
  padding: 10px;
}
.about-me-page {
  height: 100%;
  background: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-me-section p {
  font-size: 22px;
  text-align: center;
  line-height: 25px;
}
