// yelpcamp yelpcamp-SLIDESHOW

.yelpcamp-slideshow {
  background-color: #000;
  width: 350px;
  height: 200px;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.yelpcamp-slideshow li {
  width: 350px !important;
  height: 200px !important;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.yelpcamp-slideshow li:nth-child(1) {
  background-image: url(https://i.imgur.com/yy9nXpg.jpg);
}
.yelpcamp-slideshow li:nth-child(2) {
  background-image: url(https://i.imgur.com/MXMSwlD.png);
  animation-delay: 10s;
}
.yelpcamp-slideshow li:nth-child(3) {
  background-image: url(https://i.imgur.com/j1sjjc6.png);
  animation-delay: 20s;
}
.yelpcamp-slideshow li:nth-child(4) {
  background-image: url(https://i.imgur.com/kVeOK3j.png);
  animation-delay: 30s;
}
.yelpcamp-slideshow li:nth-child(5) {
  background-image: url(https://i.imgur.com/mcpEN5d.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .yelpcamp-slideshow li {
  opacity: 1;
}
